* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
  }
  


body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    background-image: url("./images/tutoring.jpg");
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 45%;
    font-family: Norse-Bold, sans-serif;
}

.right {
    display: flex;
    flex-direction: column;
    width: 65vw;
    background-color: #fafafa;
}

.top {
    height: 33vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 5%;
    margin-bottom: 2%;
}

/* mid part of the page */
:root {
    --div-padding: 5%;
}

.mid {
    background-color: white;
    padding: 2% 5% 2% 5%;
    box-shadow: 6px 6px 6px -2px gray;
}

.main-form-div {
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.form-div {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 5px;
}

.form-divs {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

label {
    font-size: 12px;
    font-weight: 400;
}

/* END: mid part of the page */

.submit-btn {
    margin: 3% 0 0 5%;
    padding: 2% 4% 2% 4%;
    background-color: olive;
    font-size: 15px;
    color: white;
    border-radius: 15px;
    border: none;
}

input {
    width: 250px;
    height: 30px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    font-size: 15px;
    font-weight:500;
    padding-left: 5px;
}

input:focus {
    border: 1px solid blue;
}

input:invalid {
    border: 1px solid red;
}



.bot {
    height: 33vh;
}

.error_pass, .error_phone {

    color: red;
    font-size: 10px;

}